<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Toutes les races</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Persan</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Siamois</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Gros chat</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <div class="container">
          <div class="row">
            <% @all_items.each do |item| %>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <%= image_tag(item.image_url, :class => "card-img") %>
                <div class="card-body">
                  <h4 class="card-title"><%= item.title %></h4>
                  <p class="font-weight-bold">
                    <%= item.race %>
                  </p>
                  <p class="card-text">
                    <%= item.description %></p>
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price text-success"><h5 class="mt-4"> <%= item.price %>€</h5></div>
                      <a href="<%= item_path(item.id) %>" class="btn btn-secondary mt-3"> Voir le produit</a>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="container">
          <div class="row">
            <% @persan_items.each do |item| %>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <%= image_tag(item.image_url, :class => "card-img") %>
                <div class="card-body">
                  <h4 class="card-title"><%= item.title %></h4>
                  <p class="font-weight-bold">
                    <%= item.race %>
                  </p>
                  <p class="card-text">
                    <%= item.description %></p>
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price text-success"><h5 class="mt-4"> <%= item.price %>€</h5></div>
                      <a href="<%= item_path(item.id) %>" class="btn btn-secondary mt-3"> Voir le produit</a>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
        <div class="container">
          <div class="row">
            <% @siamois_items.each do |item| %>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <%= image_tag(item.image_url, :class => "card-img") %>
                <div class="card-body">
                  <h4 class="card-title"><%= item.title %></h4>
                  <p class="font-weight-bold">
                    <%= item.race %>
                  </p>
                  <p class="card-text">
                    <%= item.description %></p>
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price text-success"><h5 class="mt-4"> <%= item.price %>€</h5></div>
                      <a href="<%= item_path(item.id) %>" class="btn btn-secondary mt-3"> Voir le produit</a>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        <div class="container">
          <div class="row">
            <% @big_items.each do |item| %>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <%= image_tag(item.image_url, :class => "card-img") %>
                <div class="card-body">
                  <h4 class="card-title"><%= item.title %></h4>
                  <p class="font-weight-bold">
                    <%= item.race %>
                  </p>
                  <p class="card-text">
                    <%= item.description %></p>
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price text-success"><h5 class="mt-4"> <%= item.price %>€</h5></div>
                      <a href="<%= item_path(item.id) %>" class="btn btn-secondary mt-3"> Voir le produit</a>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>